.wrapper {
    margin: 0 auto;
    width: 1200px;
}
body {
    background-color: #f3f5f7;
}
.header {
    height: 100px;
    background-color: #fff;
}
.header .wrapper{
    padding-top: 29px;
    display: flex;
}


.logo a{
    display: flex;
    width: 195px;
    height: 42px;
    background-image: url("../image/xuechengzaixian_logo.png");
    text-decoration: none;
    color: black;
    font-size: 0;
}

.nav{
    margin-left: 20px;
    padding-left: 10px;
    margin-right: 100px;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right: 24px;
    list-style-type: none;
}
.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
    list-style-type: none;
    color: black;
    text-decoration: none;
}
.nav li .active, .nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}
.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去掉表单控件的焦点框*/
    outline: none;
    height: 40px;
    line-height: 40px;
}
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
.search a{
    width: 16px;
    height: 16px;
    background-image: url("#");
}

.user{
    margin-left: 32px;
    margin-top: 4px;
}
.user img{
    margin-right: 7px;
    vertical-align: middle;
}
.user span{
    font-size: 16px;
    color: #666;
}

.banner{
    height: 420px;
    background-color: #00a4ff;
}
.banner .banner-wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
}
.banner .left{
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}
.banner .left a{
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}
.banner .left a:hover{
    color: #00a4ff;
}
.banner .right{
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #00a4ff;
    border-radius: 10px;
}
.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
}
.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}