*{
    margin: 0;
    padding: 0;
}

.inner{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

img{
    border: 0;
    vertical-align: middle;
}

.clearfix::before, .clearfix::after{
    content: '';
    display: block;
    clear: both;
}
